{% extends 'autism/base.html' %}

{% block body %}
<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Autism </h1>
          <p class="lead mb-5 text-white-50">Diagnosing autism spectrum disorder (ASD) can be difficult, since there is no medical test, like a blood test, to diagnose the disorders. Doctors look at the child’s behavior and development to make a diagnosis.

            ASD can sometimes be detected at 18 months or younger. By age 2, a diagnosis by an experienced professional can be considered very reliable.[1] However, many children do not receive a final diagnosis until much older. This delay means that children with an ASD might not get the help they need.Diagnosing autism spectrum disorder (ASD) can be difficult, since there is no medical test, like a blood test, to diagnose the disorders. Doctors look at the child’s behavior and development to make a diagnosis.

            ASD can sometimes be detected at 18 months or younger. By age 2, a diagnosis by an experienced professional can be considered very reliable.[1] However, many children do not receive a final diagnosis until much older. This delay means that children with an ASD might not get the help they need.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-12 mb-12">
        <h2>Developmental Screening</h2>
        <hr>
        <p>Developmental screening is a short test to tell if children are learning basic skills when they should, or if they might have delays. During developmental screening the doctor might ask the parent some questions or talk and play with the child during an exam to see how she learns, speaks, behaves, and moves. A delay in any of these areas could be a sign of a problem.

            All children should be screened for developmental delays and disabilities during regular well-child doctor visits at:
            
            9 months
            18 months
            24 or 30 months
            Additional screening might be needed if a child is at high risk for developmental problems due to preterm birth, low birth weight or other reasons.
            In addition, all children should be screened specifically for ASD during regular well-child doctor visits at:
            
            18 months
            24 months
            Additional screening might be needed if a child is at high risk for ASD (e.g., having a sister, brother or other family member with an ASD) or if behaviors sometimes associated with ASD are present
            It is important for doctors to screen all children for developmental delays, but especially to monitor those who are at a higher risk for developmental problems due to preterm birth, low birth weight, or having a brother or sister with an ASD.
            
            If your child’s doctor does not routinely check your child with this type of developmental screening test, ask that it be done.
            
            If the doctor sees any signs of a problem, a comprehensive diagnostic evaluation is needed.</p>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12 mb-12">
          <h2>What We Do</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
          <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
        </div>
      </div>
      <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
